# デフォルトの無視対象ファイル
/shelf/
/workspace.xml
# データソースのローカルストレージがファイルを無視しました
/../../../../../../:\Users\181033\SisterWorkspace3\online-seminar\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
